.type-1749 .content {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.type-1749 a {
  text-decoration: none !important; }
.type-1749 .online {
  font-size: 30px;
  background-color: #23a455;
  color: white; }
  .type-1749 .online i {
    font-size: 14px; }
.type-1749 .fas i {
  color: #23a455;
  font-size: 40px; }
.type-1749 .fas .phone {
  font-size: 30px; }
.type-1749 .we h4 {
  color: #23a455; }
