.type-1595 .content, .type-1595 .title {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.type-1595 {
  background-color: #f5f5f5; }
  .type-1595 .more .solix {
    width: 12%;
    background-color: #61ce70;
    height: 2px; }
  .type-1595 a {
    text-decoration: none !important; }
  .type-1595 .read-more {
    font-size: 12px;
    background-color: #61ce70;
    color: white; }
    .type-1595 .read-more i {
      font-size: 14px; }
  .type-1595 .choose-us i {
    color: #61ce70; }
  .type-1595 .Experience {
    color: #7a7a7a; }
    .type-1595 .Experience .progress {
      height: 11px;
      color: #61ce70; }
  .type-1595 .content {
    color: #7a7a7a; }
