$f-12:12px;
$f-14:14px;
$bg_color:#61ce70;
$bg1_color:#7a7a7a;
$bg_white:white;
$bg2_backg:#f5f5f5;
%re-content {
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.type-1595{
   background-color: $bg2_backg;
    .more{
        .solix{
            width: 12%;
            background-color: $bg_color;
            height: 2px;
        }

    }

    a{
        text-decoration: none !important;
    }
    .read-more{
        font-size: $f-12;
        background-color: $bg_color;
        color: $bg_white;
        i{
            font-size: $f-14;
        }
    }
    .choose-us{
        i{
            color:$bg_color;
        }
    }
    .Experience {
        color: $bg1_color;
        .progress {
            height: 11px;
            color: $bg_color;
        }
    }
    .content{
        @extend %re-content;
        color: $bg1_color;
    }
    .title{
        @extend %re-content;
    }
  
    
}
