$f-12: 12px;
$f-14: 14px;
$bg_color: #23a455;
$bg1_color: #7a7a7a;

.type-1804 {
    %re-content {
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
    }

    .more {
        h3::before {
            position: absolute;
            content: "";
            background-color: #23a455;
            width: 125px;
            bottom: -19px;
            border-bottom: 3px solid #23a455;
        }
    }
    a {
        text-decoration: none !important;
    }
    .read-more {
        font-size: $f-12;
        background-color: $bg_color;
        color: white;
        // margin:7px;
        i {
            font-size: $f-14;
        }
    }
    .contact {
        font-size: $f-12;
        background-color: $bg_color;
        color: white;

        i {
            font-size: $f-14;
        }

        
    }
    .sapien{
        font-weight: bold;
        @extend %re-content;
    }
    .content{
        @extend %re-content;
        color: #7a7a7a;
        .bold{
            color:  #000000;
        }
    }
}
